html {

    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  


body{
    
    
    
    height: 100vh;
    padding:0;
    margin:0;

    min-height: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-break: break-all;
}

/* navbar */
.navbar {
    position: fixed;
    top: 0; 
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center;
    /* background-color: #22222288;  */
    padding: 12px 20px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    border-radius: 20px;
}

.navbar a {
    color: #ffffff;
    text-align: center;
    padding: 12px 18px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    margin: 0 8px;
    background-color: #5e6dc33c;
}

.navbar a:hover {
    background-color: #ff990086; 
    color: #fff;
    transform: scale(1.1); 
}

.navbar a.active {
    background-color: #04aa6d44;
    color: white;
}
/* fim da navbar */


/* sobre mim */
.sobre-mim {
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: space-between;
    max-width: 70%;
    margin: 100px auto 20px;
    padding: 20px;
    background-color: rgba(2, 2, 2, 0.19);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.116);
    
    word-break: normal;
    overflow-wrap: break-word;
    hyphens: none;
}


.sobre-mim div {
    
    max-width: 50%;
    text-align: left;
}

.titulo-sobre {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 10px;
}

.sobre-mim p {
    font-size: 18px;
    color: #ffffff;
    line-height: 1.6;
    text-align: justify;
    padding-right: 20px;
}

.sobre-mim img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    border: #04aa6d44;
    object-fit: cover;
}



/* fim do sobre mim */

#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -20;
  }

  .Titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; 
    background: transparent; 
    padding-top: 15vh;
}
.Titulo p {
  font-family:'Orbitron', sans-serif;

  font-size: 10rem;
  color: white;
  margin: 0;
}
  .subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: -1vh; 
    background: transparent; 
    padding-top: 0;
  }

  .subtitle h3 {
    font-family:'Orbitron', sans-serif;

  font-size: 3rem;
  color: white;
  margin: 0;
  }


.seta-baixo {
    display: block;
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    animation: pular 1.5s infinite;
    
  }
  
  @keyframes pular {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }
  

  a:link {
    color: rgb(255, 255, 255);
  }
  
  a:visited {
    color: rgb(255, 255, 255);
  }

/* trimestres */

.trimestres {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 40px auto;
  max-width: 80%;
  padding: 20px;
  background-color: rgba(2, 2, 2, 0.19);
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.116);
}

.trimestre {
  width: 200px;
  height: 200px;
  background-color: #04aa6d22;
  border: 2px solid #04aa6d44;
  border-radius: 15px;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.trimestre h2 {
  margin-bottom: 10px;
  font-size: 22px;
}

.trimestre p {
  font-size: 16px;
  color: #ccc;
}

.trimestre.ativo {
  background-color: #04aa6d66;
  cursor: pointer;
}

.trimestre.bloqueado {
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid #ff4d4d; 
  cursor: not-allowed;
  position: relative;
}


.trimestre.bloqueado::after {
  content: "🔒";
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.trimestre.bloqueado:hover {
  animation: shake 0.3s ease;
} 

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  50% { transform: translateX(10px); }
  75% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

/* fim dos trimestres */